@{
    ViewData["Title"] = "نسيت كلمة المرور";
}
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4 d-flex align-items-center justify-content-center">
            <!-- Register -->
            <div class="card" style="width:400px !important;">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="container">
                        <img src="~/assets/img/favicon/crm.png" style="width:100% !important; height:100%;" alt="" />
                    </div>
                    <div class="app-brand justify-content-center">
                        <span class="app-brand-text demo h3 fw-bold mb-0">@SystemInfoResource.SystemName</span>
                    </div>
                    <h2>@FormResources.ChangePassword</h2>
                    <p>@FormResources.Text</p>
                    <!-- /Logo -->
                    <form id="formAuthentication" class="mb-3" action="/Account/ForgetPassword" method="post">
                        <div class="mb-3">
                            <label class="form-label">@FormResources.Email</label>
                            <input type="text" class="form-control" id="email" asp-for="Email" name="email" placeholder="@FormResources.EmailPlaceholder" autofocus />
                            <small class="text-danger" asp-validation-for="Email"></small>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">@FormResources.SendCode</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>