@model SessionViewModel
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewData["title"] = "عرض الجلسات";
}

<div class="layout-wrapper layout-content-navbar">
    <div dir="" class="layout-container">
        <!-- Menu -->

       <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="/" class="app-brand-link">
                    <span class="app-brand-logo demo">
                        <img src="~/assets/img/favicon/crm-small.png" style="width:100% " alt="" />
                    </span>
                    <span class="app-brand-text demo menu-text fw-bold ms-2" style="font-size:x-large">
                        @SystemInfoResource.SystemName
                    </span>
                </a>
                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                    <i class="bx menu-toggle-icon fs-4 d-none d-xl-block align-middle"></i>
                    <i class="bx bx-x bx-sm d-xl-none d-block align-middle"></i>
                </a>
            </div>
            <div class="menu-divider mt-0"></div>
            <div class="menu-inner-shadow"></div>
            <ul class="menu-inner py-1">
                <li class="menu-item">
                    <a href="/" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-home"></i>
                        <div>الصفحة الرئيسية</div>
                    </a>
                </li>
                <li class="menu-item" style="">
                    <a href="/customer" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-user"></i>
                        <div>@SideBarResources.Clients</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/call" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-phone"></i>
                        <div>@SideBarResources.Calls</div>
                    </a>
                </li>
                @* <li class="menu-item active">
                    <a href="/session" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-chat"></i>
                        <div>@SideBarResources.Sessions</div>
                    </a>
                </li> *@
                <li class="menu-item ">
                    <a href="/message" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-message"></i>
                        <div>@SideBarResources.Message</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/email" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-envelope"></i>
                        <div>@SideBarResources.EmailMessage</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/question" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-question-mark"></i>
                        <div>@SideBarResources.QuestionAndAnswers</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-calendar"></i>
                        <div>@SideBarResources.Scheduling</div>
                    </a>
                </li>
                @{
                    var user = await userManager.GetUserAsync(User);
                    var role = await userManager.GetRolesAsync(user);
                }
                @if (role.Contains("ADMIN"))
                {
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-cog"></i>
                            <div>@SideBarResources.Setting</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/setting" class="menu-link">
                                    <div>@SideBarResources.SystemUsers</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="menu-item mt-auto">
                        <div class="menu-link pb-2 align-self-end d-flex align-items-center justify-content-between">
                            <a href="/setting/userinformation?id=@userManager.GetUserId(User)" class="text-secondary">
                                <i class="menu-icon tf-icons bx bx-user"></i>
                                @if ((await userManager.GetUserAsync(User)).Extentions?.Count() > 0)
                                {
                                    @((await userManager.GetUserAsync(User)).Extentions.First().ExtensionNumber)
                                }
                                @userManager.GetUserName(User)
                            </a>
                            <a href="/Account/Logout" class="align-self-end text-secondary">
                                <i class="menu-icon tf-icons bx bx-log-in cursor-pointer icons-danger"></i>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </aside>

        <div class="layout-page">

            <!-- / Menu -->
            <!-- Layout container -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- Layout container -->

                    <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
                    <br>
                    <h1 class="container text-primary">@PageHeaders.Session </h1>
                    <div class="col-sm-12 col-md-12">
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                            <input type="search" class="form-control" placeholder="بحث" size="80"
                                   aria-controls="DataTables_Table_0">
                        </div>
                    </div>

                    <br>
                    @foreach (var conv in Model.Conversations)
                    {
                        <a href="/Session/Conversation/@conv.Id">
                            <div class="friend-drawer friend-drawer--onhover">
                                <div class="text">
                                        <h5>@conv.Extention-@conv.UserName</h5>
                                        <p class="text-muted">@conv.Message</p>
                                </div>
                                <span class="time text-muted small d-flex justify-content-end">@conv.Time.ToString("h:m a")</span>
                            </div>
                        </a>
                        <hr>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                        عرض
                        @ViewData["StartRowNumber"]
                        الى
                        @ViewData["EndRowNumber"]
                        من
                        @ViewData["TotalItem"]
                        صف
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                        <ul class="pagination">
                            @if (int.Parse(ViewData["Page"].ToString()) > 1)
                            {
                                <li class="paginate_button page-item previous active" id="DataTables_Table_0_previous">
                                    <a href='@ViewData["PreviousPage"]' aria-controls="DataTables_Table_0" data-dt-idx="0"
                                       tabindex="0" class="page-link">
                                        @FormResources.Previous
                                    </a>
                                </li>
                            }
                            <li class="paginate_button" id="">
                                <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0"
                                   class="page-link ">
                                    @ViewData["Page"]/@ViewData["TotalPage"]
                                </a>
                            </li>
                            @if (int.Parse(ViewData["Page"].ToString()) <
                                 int.Parse(ViewData["TotalPage"].ToString()))
                            {
                                <li class="paginate_button page-item next active " id="DataTables_Table_0_next">
                                    <a href='@ViewData["NextPage"]' aria-controls="DataTables_Table_0" data-dt-idx="1"
                                       tabindex="0" class="page-link">
                                        @FormResources.Next
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partial -->