@model QuestionViewModel
@{
    ViewData["title"] = "بيانات الاتصال";
}
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <!-- / Menu -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">


                <div class="card">
                    <div class="mx-2 pt-2">
                        <a href="/customer/CustomerInformation?id=@Model.CustomerId" type="">
                            <button type="submit" class="btn btn-secondary ">
                                <i class="menu-icon tf-icons bx bx-chevron-right"></i>الرجوع
                            </button>
                        </a>
                        <h2 class="card-title text-center text-primary ">@PageHeaders.Question </h2>
                    </div>
                    <div class="card-datatable text-nowrap">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <div class="dataTables_length" id="per_page_length">
                                        <label class="d-flex">
                                            <span class="px-2 my-auto">@FormResources.Show</span>
                                            <select id="pageSize" class="form-select w-25 my-auto">
                                                @if (ViewData["PageSize"]?.ToString() == "10")
                                                {
                                                    <option value="10" selected>10</option>
                                                }
                                                else
                                                {
                                                    <option value="10">10</option>
                                                }
                                                @if (ViewData["PageSize"]?.ToString() == "25")
                                                {
                                                    <option value="25" selected>25</option>
                                                }
                                                else
                                                {
                                                    <option value="25">25</option>
                                                }
                                                @if (ViewData["PageSize"]?.ToString() == "50")
                                                {
                                                    <option value="50" selected>50</option>
                                                }
                                                else
                                                {
                                                    <option value="50">50</option>
                                                }
                                                @if (ViewData["PageSize"]?.ToString() == "100")
                                                {
                                                    <option value="100" selected>100</option>
                                                }
                                                else
                                                {
                                                    <option value="100">100</option>
                                                }
                                            </select>
                                            <span class="px-2">@FormResources.Inputs</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex justify-content-center justify-content-md-end">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <label>
                                            <span class="px-2">@FormResources.SearchN:</span>
                                            <input type="search" id="search" class="form-control"
                                                value='@ViewData["Search"]' placeholder="@FormResources.Search"
                                                aria-controls="per_page">
                                        </label>
                                    </div>
                                </div>

                                <div class="offcanvas offcanvas-end " id="sendInvoiceOffcanvas"
                                    style="visibility: visible;" aria-modal="true" role="dialog">
                                    <div class="offcanvas-header border-bottom">
                                        <h2 class="offcanvas-title"> @OffcanvasResource.AddQuestion </h2>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body flex-grow-1">
                                        <form>
                                            <div class="checkbox-card">
                                                <label for="invoice-message"
                                                    class="form-label">@OffcanvasResource.QuestionText</label>
                                                <textarea class="form-control" name="invoice-message"
                                                    id="invoice-message" cols="3" rows="4">
                                                         </textarea>
                                                <small>@OffcanvasResource.EnterSummaryOfQuestion</small>

                                                <div class="passport-box">
                                                    <label for="invoice-message"
                                                        class="form-label">@OffcanvasResource.AnswerText</label>
                                                    <textarea class="form-control " name="invoice-message"
                                                        id="invoice-message" cols="3" rows="4">
                                                             </textarea>
                                                    <small>@OffcanvasResource.EnterAnswerOfQuestion</small>
                                                </div>

                                                <div class="mb-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkme" />
                                                        <label class="form-check-label " for="text-nowrap">
                                                            @OffcanvasResource.NoAnswer </label>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="d-grid gap-2">
                                                <button type="button" class="btn btn-primary "
                                                    data-bs-dismiss="offcanvas">@OffcanvasResource.Add</button>
                                                <button type="button" class="btn btn-secondary "
                                                    data-bs-dismiss="offcanvas">@OffcanvasResource.Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="dataTables_scroll">
                                <div class="dataTables_scrollHead"
                                    style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                </div>
                                <div class="dataTables_scrollBody"
                                    style="position: relative; overflow: auto; width: 100%; max-height: 500px; height: 500px;">
                                    <table class="datatables-users table border-down">
                                        <thead>
                                            <tr>
                                                <th style="width:50px;">@TableHeaderQuestion.Id</th>
                                                <th>@TableHeaderQuestion.QuestionText</th>
                                                <th style="width:50px;"> @TableHeaderQuestion.Answers </th>
                                                <th style="width:90px;"> @TableHeaderQuestion.Show </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Questions)
                                            {
                                                <tr>
                                                    <td>#</td>
                                                    <td>@item.Question</td>
                                                    <td>@item.AnswerCount</td>
                                                    <td>
                                                        <a href="/call/@Model.CallId/information/@item.Id">
                                                            <i class="menu-icon tf-icons bx bx-link-external"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status"
                                        aria-live="polite">
                                        عرض
                                        @ViewData["StartRowNumber"]
                                        الى
                                        @ViewData["EndRowNumber"]
                                        من
                                        @ViewData["TotalItem"]
                                        صف
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_paginate paging_simple_numbers"
                                        id="DataTables_Table_0_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous active"
                                                id="DataTables_Table_0_previous">
                                                <a href='@ViewData["PreviousPage"]' aria-controls="DataTables_Table_0"
                                                    data-dt-idx="0" tabindex="0" class="page-link">
                                                    @FormResources.Previous
                                                </a>
                                            </li>
                                            <li class="paginate_button" id="">
                                                <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1"
                                                    tabindex="0" class="page-link ">
                                                    @ViewData["Page"]/@ViewData["TotalPage"]
                                                </a>
                                            </li>
                                            <li class="paginate_button page-item next active "
                                                id="DataTables_Table_0_next">
                                                <a href='@ViewData["NextPage"]' aria-controls="DataTables_Table_0"
                                                    data-dt-idx="1" tabindex="0" class="page-link">
                                                    @FormResources.Next
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Offcanvas to add new user -->

            </div>
        </div>
        <!-- Offcanvas to add new user -->

    </div>
</div>