@model QuestionViewModel
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["title"] = "تقرير الاسئلة";
}

<div class="layout-wrapper layout-content-navbar">
<div class="layout-container">
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="~/assets/img/favicon/crm-small.png" style="width:100% " alt=""/>
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2"
                  style="font-size:x-large">
                @SystemInfoResource.SystemName
            </span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx menu-toggle-icon fs-4 d-none d-xl-block align-middle"></i>
            <i class="bx bx-x bx-sm d-xl-none d-block align-middle"></i>
        </a>
    </div>
    <div class="menu-divider mt-0"></div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner position-relative">
        <li class="menu-item ">
            <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home"></i>
                <div>الصفحة الرئيسية</div>
            </a>
        </li>
        <li class="menu-item" style="">
            <a href="/customer" class="menu-link ">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div>@SideBarResources.Clients</div>
            </a>
        </li>
        <li class="menu-item ">
            <a href="/call" class="menu-link">
                <i class="menu-icon tf-icons bx bx-phone"></i>
                <div>@SideBarResources.Calls</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/message" class="menu-link">
                <i class="menu-icon tf-icons bx bx-message"></i>
                <div>@SideBarResources.Message</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/email" class="menu-link">
                <i class="menu-icon tf-icons bx bx-envelope"></i>
                <div>@SideBarResources.EmailMessage</div>
            </a>
        </li>
        <li class="menu-item active">
            <a href="/question" class="menu-link">
                <i class="menu-icon tf-icons bx bx-question-mark"></i>
                <div>@SideBarResources.QuestionAndAnswers</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/scheduling" class="menu-link">
                <i class="menu-icon tf-icons bx bx-calendar"></i>
                <div>@SideBarResources.Scheduling</div>
            </a>
        </li>
        @{
            var user = await UserManager.GetUserAsync(User);
            var role = await UserManager.GetRolesAsync(user);
        }
        @if (role.Contains("ADMIN"))
        {
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-cog"></i>
                    <div>@SideBarResources.Setting</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="/setting" class="menu-link">
                            <div>@SideBarResources.SystemUsers</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="menu-item mt-auto position-absolute" style="bottom: 10px">
                <div class="menu-link align-self-end d-flex align-items-center justify-content-between">
                    <a href="/setting/userinformation?id=@UserManager.GetUserId(User)" class="text-secondary">
                        <i class="menu-icon tf-icons bx bx-user"></i>

                        @{
                            var extensions = (await UserManager.GetUserAsync(User))?.Extentions;
                        }
                        @if (extensions != null && extensions.Any())
                        {
                            @((await UserManager.GetUserAsync(User))?.Extentions.First().ExtensionNumber)
                        }
                        @UserManager.GetUserName(User)
                    </a>
                    <a href="/Account/Logout" class="align-self-end text-secondary">
                        <i class="menu-icon tf-icons bx bx-log-in cursor-pointer icons-danger"></i>
                    </a>
                </div>
            </li>
        }
    </ul>
</aside>
<!-- / Menu -->
<div class="layout-page">
<div class="content-wrapper">
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
<div class="card">
<h2 class="card-header">@PageHeaders.Question</h2>
<div class="card-datatable text-nowrap">
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="dataTables_length" id="per_page_length">
            <label class="d-flex align-items-center justify-content-start">
                <span class="px-2 my-auto">@FormResources.Show</span>
                <select id="pageSize" class="form-select w-25 my-auto">
                    @if (ViewData["PageSize"]?.ToString() == "10")
                    {
                        <option value="10" selected>10</option>
                    }
                    else
                    {
                        <option value="10">10</option>
                    }
                    @if (ViewData["PageSize"]?.ToString() == "25")
                    {
                        <option value="25" selected>25</option>
                    }
                    else
                    {
                        <option value="25">25</option>
                    }
                    @if (ViewData["PageSize"]?.ToString() == "50")
                    {
                        <option value="50" selected>50</option>
                    }
                    else
                    {
                        <option value="50">50</option>
                    }
                    @if (ViewData["PageSize"]?.ToString() == "100")
                    {
                        <option value="100" selected>100</option>
                    }
                    else
                    {
                        <option value="100">100</option>
                    }
                </select>
                <span class="px-2">@FormResources.Inputs</span>
            </label>
        </div>
    </div>
    <div
        class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end">
        <div id="DataTables_Table_0_filter" class="dataTables_filter d-flex align-items-center justify-content-center">
            <label class="m-auto">
                <span class="px-2">@FormResources.SearchN:</span>
                <input type="search" id="search" class="form-control"
                       value='@ViewData["Search"]' placeholder="@FormResources.Search"
                       aria-controls="per_page">
            </label>
        </div>
        <div id="per_page_filter" class="dataTables_filter mx-2">
            <a href="/question/export-to-excel"
               class=" d-flex align-items-center justify-content-around fw-bold"
               style="font-size: 12pt;">
                <img src="~/assets/img/icons/excel_icon.svg" style="width: 30px;"
                     alt=""/>
            </a>
        </div>
    </div>

    <div class="offcanvas offcanvas-end " id="sendInvoiceOffcanvas"
         style="visibility: visible;" aria-modal="true" role="dialog">
        <div class="offcanvas-header border-bottom">
            <h2 class="offcanvas-title"> @OffcanvasResource.AddQuestion </h2>
            <button type="button" class="btn-close text-reset"
                    data-bs-dismiss="offcanvas" aria-label="Close">
            </button>
        </div>
        <div class="offcanvas-body flex-grow-1">
            <form>
                <div class="checkbox-card">
                    <label for="invoice-message" class="form-label">
                        @OffcanvasResource.QuestionText
                    </label>
                    <textarea class="form-control" name="invoice-message"
                                                        id="invoice-message" cols="3" rows="4">
                                                 </textarea>
                    <small>@OffcanvasResource.EnterSummaryOfQuestion</small>

                    <div class="passport-box">
                        <label for="invoice-message" class="form-label">
                            @OffcanvasResource.AnswerText
                        </label>
                        <textarea class="form-control " name="invoice-message"
                                                            id="invoice-message" cols="3" rows="4">
                                                     </textarea>
                        <small>@OffcanvasResource.EnterAnswerOfQuestion</small>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   id="checkme"/>
                            <label class="form-check-label " for="text-nowrap">
                                @OffcanvasResource.NoAnswer
                            </label>
                        </div>
                    </div>
                </div>


                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary "
                            data-bs-dismiss="offcanvas">
                        @OffcanvasResource.Add
                    </button>
                    <button type="button" class="btn btn-secondary "
                            data-bs-dismiss="offcanvas">
                        @OffcanvasResource.Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="dataTables_scroll">
    <div class="dataTables_scrollHead"
         style="overflow: hidden; position: relative; border: 0px; width: 100%;">
    </div>
    <div class="dataTables_scrollBody"
         style="position: relative; overflow: auto; width: 100%; max-height: 350px; height: 350px;">
        <table class="datatables-users table border-down">
            <thead>
            <tr>
                <th style="width:50px;">@TableHeaderQuestion.Id</th>
                <th>@TableHeaderQuestion.QuestionText</th>
                <th style="width:50px;"> @TableHeaderQuestion.Answers </th>
                <th style="width:90px;"> @TableHeaderQuestion.Show </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Questions)
            {
                <tr>
                    <td>#</td>
                    <td>@item.Question</td>
                    <td>@item.AnswerCount</td>
                    <td>
                        <a href="/question/answers/@item.Id">
                            <i class="menu-icon tf-icons bx bx-link-external"></i>
                        </a>
                    </td>

                </tr>
            }
            </tbody>

        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="dataTables_info" id="DataTables_Table_0_info" role="status"
             aria-live="polite">
            عرض
            @ViewData["StartRowNumber"]
            الى
            @ViewData["EndRowNumber"]
            من
            @ViewData["TotalItem"]
            صف
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="dataTables_paginate paging_simple_numbers"
             id="DataTables_Table_0_paginate">
            <ul class="pagination">
                @if (int.Parse(ViewData["Page"].ToString()) > 1)
                {
                    <li class="paginate_button page-item previous active"
                        id="DataTables_Table_0_previous">
                        <a href='@ViewData["PreviousPage"]'
                           aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"
                           class="page-link">
                            @FormResources.Previous
                        </a>
                    </li>
                }
                <li class="paginate_button" id="">
                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1"
                       tabindex="0" class="page-link ">
                        @ViewData["Page"]/@ViewData["TotalPage"]
                    </a>
                </li>
                @if (int.Parse(ViewData["Page"].ToString()) <
                     int.Parse(ViewData["TotalPage"].ToString()))
                {
                    <li class="paginate_button page-item next active "
                        id="DataTables_Table_0_next">
                        <a href='@ViewData["NextPage"]' aria-controls="DataTables_Table_0"
                           data-dt-idx="1" tabindex="0" class="page-link">
                            @FormResources.Next
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
</div>
</div>
</div>


<!-- Offcanvas to add new user -->

</div>
</div>
</div>
</div>
</div>

@section Script{
    <script>
        $(function () {
            $("#checkme").click(function (event) {
                var x = $(this).is(':checked');
                if (x == false) {
                    $(this).parents(".checkbox-card").find('.passport-box').show();
                }
                else {
                    $(this).parents(".checkbox-card").find('.passport-box').hide();
                }
            });
        });
    </script>
}