@model CustomerDetailsResponse
@{
    ViewData["title"] = "معلومات العميل";
}

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <!-- / Menu -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <!-- Layout container -->

                <div class="card">
                    <div class="card-header border-bottom">
                        <div class="">
                            <a href="/customer" class="btn btn-secondary me-1 me-sm-3" type="">
                                <i class="menu-icon tf-icons bx bx-chevron-right"></i>الرجوع
                            </a>
                        </div>
                        <h2 class="card-title text-center text-primary ">@PageHeaders.CustomerInformation</h2>
                        <div class="row mx-2">
                            <div class="col-sm-12 col-md-4 col-lg-6">
                                <div class="datatables_length" id="DataTables_Table_0_length">
                                    <div class="info-container">
                                        <ul class="list-unstyled">
                                            <li class="md-3">
                                                <span class="fw-bold me-2">@Model.Name</span>
                                            </li>
                                            <li class="md-3">
                                                <span>@Model.Email-@Model.Phone</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-6">
                                <div
                                    class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <div class="d-grid gap-2">
                                            <a href="/add-outgoing/@Model.Phone" class="btn btn-primary btn-lg"
                                                type="button">إتصال</a>
                                            @if (@Model.Email != "N/A")
                                            {
                                                <a href="/Email/SendEmail?email=@Model.Email" class="btn btn-primary btn-lg"
                                                    type="button">إرسال بريد إلكتروني</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row g-3 mt-3">
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="card-title m-0 me-2">الاتصالات السابقة</h5>
                            </div>
                            <div class="card-body">
                                @if (Model.Calls == null)
                                {
                                    <span class="fw-bold me-2">لا يوجد اتصالات سابقة</span>
                                }
                                else
                                {
                                    <ul class="timeline">
                                        @foreach (var call in Model.Calls)
                                        {
                                            <li class="timeline-item timeline-item-transparent ps-2">
                                                <a href="/call/@call.Id/information">
                                                    <span class="timeline-point timeline-point-danger"></span>
                                                    <div class="timeline-event pb-2">
                                                        <div class="timeline-header mb-1">
                                                            <h4 class="mb-0">@call.DateTime</h4>
                                                        </div>
                                                        <p class="mb-3">@call.AnsweredBy</p>
                                                        <div class="d-flex">
                                                            <span class="text-body fw-bold">@call.Duration</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-xl-3 ">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="card-title m-0 me-2">الاسئلة السابقة</h5>

                            </div>
                            <div class="card-body">
                                @if (Model.Sessions == null)
                                {
                                    <span class="fw-bold me-2">لا يوجد اسئلة سابقة</span>
                                }
                                else
                                {
                                    <ul class="timeline">
                                        @foreach (var session in Model.Sessions)
                                        {
                                            <li class="timeline-item timeline-item-transparent ps-4">
                                                <span class="timeline-point timeline-point-danger"></span>
                                                <div class="timeline-event pb-2">
                                                    <div class="timeline-header mb-1">
                                                        <h4 class="mb-0">@session.DateTime</h4>
                                                    </div>
                                                    <p class="mb-3">@session.PhoneNumber </p>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>

                    <!-- Content -->

                    <div class="col-sm-6 col-xl-6 ">
                        <!-- Layout container -->
                        <div class="card">
                            <h2 class="card-header"> مشاريع العميل</h2>
                            <div class="card-datatable text-nowrap">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="DataTables_Table_0_length">
                                                <label class="d-flex">
                                                    <span class="px-2">@FormResources.Show</span>
                                                    <select name="perpage" aria-controls="per_page"
                                                        class="form-select w-25">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                                    <span class="px-2">@FormResources.Inputs</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                <label>
                                                    <span class="px-2">@FormResources.SearchN:</span>
                                                    <input type="search" class="form-control"
                                                        placeholder="@FormResources.Search" aria-controls="per_page">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dataTables_scroll">
                                        <div class="dataTables_scrollHead"
                                            style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                        </div>
                                        <div class="dataTables_scrollBody"
                                            style="position: relative; overflow: auto; width: 100%; max-height: 300px; height: 300px;">
                                            <table class="datatables-users table border-down">
                                                <thead>
                                                    <tr>
                                                        <th>@TableHeaderProject.Id</th>
                                                        <th>@TableHeaderProject.ProjectName </th>
                                                        <th> @TableHeaderProject.ProjectState </th>
                                                        <th> @TableHeaderProject.RegistrationDate</th>
                                                        <th> @TableHeaderProject.ProcessWalk </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>

                                                        <td>1</td>
                                                        <td>مصنع الكبوس </td>
                                                        <td>قيد المعاملة</td>
                                                        <td>10/2/2023</td>
                                                        <td>مكتب البيئة</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status"
                                                aria-live="polite">
                                                عرض 1الى10من 100مدخلات
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                id="DataTables_Table_0_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous disabled active"
                                                        id="DataTables_Table_0_previous">
                                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0"
                                                            tabindex="0" class="page-link">
                                                            @FormResources.Previous
                                                        </a>
                                                    </li>
                                                    <li class="paginate_button" id="">
                                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1"
                                                            tabindex="0" class="page-link ">
                                                            1/10
                                                        </a>
                                                    </li>
                                                    <li class="paginate_button page-item next disabled active "
                                                        id="DataTables_Table_0_next">
                                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1"
                                                            tabindex="0" class="page-link">
                                                            @FormResources.Next
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Offcanvas to add new user -->

            </div>
        </div>

    </div>
</div>